:root {
    /*palleta */
    --clr0: #ffffff;
    --clr1: #000000;
    --primaryClr: #ff7f00;
    --clr2: #e3e3e3;
    --clr3: #ffad5c;

    /* width */
    --l: 990px;
    --m: 800px;
}

/* TYPOGHRAPHY */
@font-face {
    font-family: eurofurence;
    src: url('../fonts/eurofurence/eurofurence-regular.ttf');
}

@font-face {
    font-family: lato-reg;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: montserrat-reg;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('../fonts/fa/fa-brands-400.ttf');

}

@font-face {
    font-family: fa-regular;
    src: url('../fonts/fa/fa-regular-400.ttf');
}

@font-face {
    font-family: fa-solid;
    src: url('../fonts/fa/fa-solid-900.ttf');
}

/* BASICS */
* {
    box-sizing: border-box;
}

html {
    font-family: montserrat-reg, sans-serif;
    background-color: var(--primaryClr);
    color: var(--clr1);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.875em;
}

a {
    text-decoration: none;
    color: var(--clr1);
}

img {
    width: 100%;
    object-fit: cover;
}

main {
    background-color: var(--clr2);
}

header {}

p {
    margin: 0;
    font-size: 1.25rem;
}

small {
    color: var(--clr0);
}

input[type=file] {
    display: none;
}

label {
    cursor: pointer;
}


/* buttons */
button,
.btn {
    color: var(--clr0);
    background-color: var(--primaryClr);
    padding: 0.625em 0.625em;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: 1em;
}

.btn-round {
    border-radius: 2em;
}

button.active {
    background-color: var(--clr3);
}

button:disabled {
    background-color: var(--clr3);
    cursor: not-allowed;
}

button:hover {
    opacity: 70%;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* icon helper */

.fa-solid {
    font-family: fa-solid;
}

.fa-regular {
    font-family: fa-regular;
}

.fa-brands {
    font-family: fa-brands;
}

.fa-brands .facebook::before {
    content: "\f39e"
}

.fa-brands.facebook::after {
    content: "on \f39e"
}

.fa-brands .linkedin::before {
    content: "\f0e1"
}

.fa-brands .git::before {
    content: "\f09b"
}

/* hide */
.hide {
    display: none;
}

/* LAYOUT */
.main-layout>*:not(.full) {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:860px) {
    .main-layout>*:not(.full) {
        width: var(--m);
        margin-left: auto;
        margin-right: auto;
    }

    .img-editor {
        display: flex;
        flex-direction: row;
    }

    .img-editor.hide {
        display: none;
    }

    .main-footer .content-container {
        flex-direction: row;
    }
}

@media (min-width:1090px) {
    .main-layout>*:not(.full) {
        width: var(--l);
        margin-left: auto;
        margin-right: auto;
    }
}

main .img-gallery:not(.hide),
.memes:not(.hide) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px;
}

input[type=color] {
    content: "";
    opacity: 0;
    position: absolute;
}

/* COMPONENTS */

/* main-header */

.main-header .content-container {
    position: relative;
    height: 100%;
}


@media (min-width:860px) {
    .main-header .content-container {
        padding: 15px 0;
        position: static;
    }

    .main-header .main-nav a {
        font-size: 1.25rem;
        color: var(--clr0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 33px;

        transition: all .6s;
    }

    .main-nav {
        width: auto;
    }
}

.main-header a.active,
.main-header a:hover {
    color: var(--clr1);
    box-shadow: inset 0px -4px 0;
}

@media (min-width:860px) {
    .main-header .content-container .menu-btn {
        display: none;
    }
}

.main-header li:not(:first-child) {
    border-inline-start: 1px solid var(--clr2);
}

/* secondary-header */
.secondary-header {
    background-color: var(--clr0);
}

.secondary-header input {
    border: 0;
    box-shadow: inset 0px -3px 0 var(--clr2);
}

.secondary-header .content-container {
    padding: 1rem 0;
}

/* main */
@media (max-width:860px) {

    main .img-gallery,
    .img-editor,
    .memes {
        padding-right: 27px;
        padding-left: 27px;
    }

    main section.img-editor {
        padding-top: 69px;
    }

    /* header{
        padding-right: 27px;
        padding-left: 27px;
    } */
}

main .gallery-container>*,
.memes {
    padding-bottom: 27px;
}

main .gallery-container .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Upload your own image...';
    /* display: inline-block; */
    display: flex;
    justify-self: center;
    align-self: center;
    /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



main .gallery-container:first-child,
.memes {
    padding-top: 27px;
}

main .img-gallery article,
.memes article {
    border-radius: 2em;
    height: max-content;
    cursor: pointer;
}

main .img-gallery article:first-child {
    background-color: var(--clr3);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-gallery label {
    height: 100%;
    flex-basis: 100%;
    padding: 60px;
}

main .img-gallery article img,
.memes img {
    box-shadow: -4px 2px 7px;
    border-radius: 2em;
}

main .img-editor {
    padding-top: 27px;
    padding-bottom: 27px;
    gap: 1em;
}

main .img-editor .features {
    gap: 0.5em;
    background-color: var(--clr0);
    border-radius: 1em;
    padding: 20px;
    background-color: var(--clr3);
    text-align: center;
}

main .img-editor .btn,
main .img-editor button {
    padding: 0;
}

@media (min-width:500px) {

    main .img-editor .btn,
    main .img-editor button {
        padding: 0.625em 0.625em;
    }
}

main .img-editor .features-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0.3em;
}

main .img-editor .features-container ul {
    overflow-y: scroll;
}

.features-container ul::-webkit-scrollbar {
    display: none;
}



@media (min-width:500px) {
    main .img-editor .features-container {
        gap: 1em;
    }
}

main .features-container .gallery-btn {
    grid-column: 1/span 3;
}

main .features-container input[type=text] {
    grid-column: 1/span 5;
}

main .features-container .switch-btn {
    grid-column: 2
}

main .features-container .add-btn {
    grid-column: 3
}

main .features-container .remove-btn {
    grid-column: 4
}

main .features-container .bigger-font-btn {
    grid-column: 1;
    grid-row: 4;
}

main .features-container .smaller-font-btn {
    grid-column: 2;
    grid-row: 4;
}

main .features-container .align-left {
    grid-column: 3;
    grid-row: 4;
}

main .features-container .align-center {
    grid-column: 4;
    grid-row: 4;
}

main .features-container .align-right {
    grid-column: 5;
    grid-row: 4;
}

main .features-container .font-family {
    grid-column: 1/span 3;
    grid-row: 5;
}

main .features-container .input-color-label {
    grid-column: 4;
    grid-row: 5;
}

main .features-container .input-stroke-label {
    grid-column: 5;
    grid-row: 5;
}

main .features-container .random-emojis {
    grid-column: 1/span 5;
    grid-row: 6;
}

main .features-container .download {
    grid-column: 2;
    grid-row: 7;
}

main .features-container .share {
    grid-column: 3;
    grid-row: 7;
}

main .features-container .upload {
    grid-column: 4;
    grid-row: 7;
}



main .img-editor .features input[type=text] {
    border: none;
    padding: 0 .325em;
    font-size: 1.2em;
    box-shadow: inset 0px -4px 0px var(--clr2);
}

main .img-editor .features input[type=text]:focus {
    transform: scale(1);
}

main .img-editor .features .text-decorations {
    gap: 0.8em;
}

main .img-editor .upload-link {
    color: var(--clr0);
}

@media (min-width:860px) {

    main .img-editor .features,
    .canvas-container {
        min-width: 400px;
        flex-basis: 50%;
    }


}

@media (min-width:1090px) {

    main .img-editor .features,
    .canvas-container {
        min-width: 500px;
    }
}

main .img-editor .random-emojis {
    font-size: 1.5em;
    background-color: var(--primaryClr);
    border-radius: 1em;
}

main .img-editor .random-emojis>* :not(:last-child) {
    border-inline-end: 1px solid var(--clr2);
    padding: 1px;
}

main .img-editor .random-emojis li:hover {
    opacity: 70%;
    cursor: pointer;
}

main .img-editor .color-picker {
    visibility: hidden
}

main .img-editor .data-btns {
    gap: 2px;
}

main .img-editor .gallery-btn {
    align-self: flex-start;
}

main .img-editor .gallery-btn,
.pagination .btn-prev,
.pagination .btn-next {
    position: relative;
    transition: padding 0.8s;
}

main .img-editor .gallery-btn:hover,
.pagination .btn-prev:hover:not(:disabled) {
    padding-inline-start: 2.5em;
}

main .pagination .btn-next:hover:not(:disabled) {
    padding-inline-end: 2.5em;
}

main .img-editor .gallery-btn:hover::before,
.pagination .btn-prev:hover:not(:disabled)::before {
    content: " ← ";
    position: absolute;
    left: 1em;
}

main .pagination .btn-next:not(:disabled):hover::after {
    content: " → ";
    position: absolute;
    right: 1em;
}

/* main-footer */
.main-footer {
    background-color: var(--clr0);
}

.main-footer .content-container {
    gap: 20px;
    padding: 20px;
}

.main-footer img {
    border-radius: 50%;
    width: 250px;
}

.main-footer .social-links {
    padding-top: 1.5625em;
}

@media (min-width:860px) {
    .main-footer .social-links {
        padding-top: 6.5625em;
    }
}

.main-footer .social-links li {
    padding: 0 2px;
}

/* secondary-footer */
.secondary-footer {
    max-height: 50px;
    padding-top: 77px;
    padding-bottom: 77px;
}

.secondary-footer .logo {
    padding-bottom: 1rem;
}

/* logo */
.logo {
    width: 8.3125rem;
    background-color: var(--primaryClr);
}

.main-header .logo {
    cursor: pointer;
}

/* MOBILE-ONLY */
@media (max-width: 860px) {

    .main-header {
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 8vh;
        background-color: var(--primaryClr);
    }

    .main-header .logo {
        padding-left: 27px;
    }

    .main-header .menu-btn {
        padding-right: 27px;
    }

    .secondary-header {
        padding-top: 7vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .secondary-header .content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .secondary-header .content-container>*:not(:last-child) {
        margin-bottom: 5px;
    }

    .main-header .main-nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        transform: translateY(100%);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        background-color: var(--primaryClr);

        transition: opacity 0.8s, max-height 0.8s ease-in-out;
    }


    .main-header .main-nav ul {
        flex-direction: column;
        background-color: var(--primaryClr);
        /* position: absolute; */
        /* width: 100%; */
        /* max-height: 0; */
        /* overflow: visible; */

        transition: opacity 0.8s, max-height 0.8s;
    }

    body.menu-open .main-nav {
        max-height: 100%;
        opacity: 1;
        overflow: visible;
    }

    body.menu-open .main-nav ul {
        max-height: 100%;
    }

    .main-nav li {
        flex-basis: 30px;
        padding-left: 27px;
    }



    .main-nav a {
        color: var(--clr0);
    }

    body.menu-open .main-nav li {
        /* border: none; */
        background-color: var(--primaryClr);
    }

    .main-nav ul>li {
        border-top: 1px solid var(--clr2);
        display: flex;
        align-items: center;
    }

    .menu-btn {
        width: 50px;
        height: 50px;
    }

    .main-header .menu-btn::before {
        content: '☰';
        font-size: 1.5em;
    }

    body.menu-open .menu-btn::before {
        content: 'X';
    }
}


/* Animations */
@keyframes expand {
    0% {
        height: 0px
    }

    100% {
        height: 1000px
    }
}